@import "./colors.css";

* {
  font-family: "SF Pro", "Liga SFMonoNerdFont";
  font-weight: 600;
  background: transparent;
  transition: all 100ms ease;
}

window#waybar {
  /* background: alpha(@BG, 0.55); */
  border-radius: 16px;
  margin: 4px 10px;
}

.modules-left,
.modules-center,
.modules-right {
  background: alpha(@DARK1, 0.85);
  padding: 4px 8px;
  margin: 4px;
  border-radius: 16px;
}

#workspaces,
#clock,
#tray,
#network,
#pulseaudio,
#bluetooth,
#battery,
#cpu,
#temperature,
#cava,
#custom-omarchy,
#custom-update,
#custom-power,
#custom-voxtype,
#custom-screenrecording-indicator,
#custom-bluetooth-battery {
  padding: 4px 10px;
  margin: 0 3px;
  /* background: alpha(@DARK2, 0.7); */
  border-radius: 999px;
  color: @FG;
}

#workspaces button {
  padding: 2px 8px;
  margin: 0 2px;
  color: @GRAY0;
  background: transparent;
}

#workspaces button.active {
  background: @YELLOW;
  color: @DARK;
}

/* #workspaces button:hover {
  background: alpha(@YELLOW, 0.25); 
} */

/* #workspaces {
  background-color: @BG;
  border: 1px solid @BOR;
  border-radius: 15px;
  margin: 10px 0 1px 0;
  padding: 0px 2px;
  font-size: 12px;
}

#workspaces button {
  color: @FG;
  background: @DARK2;
  border-radius: 15px;
  padding: 1px 5px;
  margin: 10px 7px;
  min-height: 0px;
  transition: min-width 200ms cubic-bezier(0.42, 0.97, 0.52, 1.49); 
  border: 1px solid @DARK3;
}

#workspaces button.empty {
  color: @GRAY0;
}

#workspaces button.active {
  color: @DARK;
  background: @GREEN;
  min-width: 70px;
  box-shadow: 0px 0px 0px 4px @GREEN1;
  border: none;
}  */



#clock {
  /* background: alpha(@BLUE, 0.25); */
  color: @WHITE;
  font-weight: 700;
}

#custom-expand-icon {
  color: @GRAY0;
  padding-right: 6px;
}

#network {
  color: @GREEN;
}

#pulseaudio {
  color: @ORANGE;
}

#pulseaudio.muted {
  color: @RED;
}

#bluetooth {
  color: @BLUE;
}

#bluetooth.off,
#bluetooth.disabled {
  color: @GRAY0;
}

#cpu {
  color: @ORANGE;
}

#temperature {
  color: @FG;
}

#battery {
  color: @GREEN;
}

#battery.warning {
  color: @YELLOW;
}

#battery.critical {
  color: @RED;
}

#custom-power {
  /* background: alpha(@RED, 0.25); */
  color: @RED0;
  font-weight: 700;
}

#custom-screenrecording-indicator {
  background: alpha(@RED, 0.35);
  color: @WHITE;
}


/* @import "../omarchy/current/theme/waybar.css";

* {
  background-color: transparent;
  color: @foreground;
  padding:2px;
  border: none;
  min-height: 0;

  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}


window#waybar {
  background-color: @background;

  border: 2px solid @accent;

  border-radius: 10px;
}


window#waybar>box {
  padding: 4px 10px;
}


.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}


#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;

  background-color: transparent;
  color: @foreground;
}

#workspaces button.active {
  background-color: alpha(@accent, 0.18);
  border-radius: 6px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update,
#custom-voxtype {
  min-width: 12px;
  margin: 0 7.5px;
}


#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}


#clock {
  margin-left: 8.75px;
}


tooltip {
  background-color: @background;
  color: @foreground;

  border: 1px solid @accent;
  border-radius: 8px;

  padding: 6px;
}

#custom-update {
  font-size: 10px;
}


#custom-screenrecording-indicator {
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}


#custom-voxtype.recording {
  color: #a55555;
}

.hidden {
  opacity: 0;
} */













/* @import "../omarchy/current/theme/waybar.css";

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  min-height: 0;

  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}


window#waybar {
  background-color: @background;

  border: 2px solid @accent;

  border-radius: 10px;
}


window#waybar>box {
  padding: 4px 10px;
}


.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}


#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;

  background-color: transparent;
  color: @foreground;
}

#workspaces button.active {
  background-color: alpha(@accent, 0.18);
  border-radius: 6px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update,
#custom-voxtype {
  min-width: 12px;
  margin: 0 7.5px;
}


#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}


#clock {
  margin-left: 8.75px;
}


tooltip {
  background-color: @background;
  color: @foreground;

  border: 1px solid @accent;
  border-radius: 8px;

  padding: 6px;
}

#custom-update {
  font-size: 10px;
}


#custom-screenrecording-indicator {
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}


#custom-voxtype.recording {
  color: #a55555;
}

.hidden {
  opacity: 0;
} */

